/*
	Movie detail
*/
.share-btn {
	margin-left: 11px;
}

.anime__details__like {
	display: flex;
}

.anime__details__like .like, .anime__details__like .dislike {
	display: flex;
}

.anime__details__like .like span, .anime__details__like .dislike span {
	line-height: 17px;
}

.anime__details__like .like {
	margin-right: 22px;
}

.anime__details__like span:not(.icon_like,.icon_dislike) {
	margin-left: 5px;
}

.anime__details__like .dislike .icon_dislike {
	line-height: 22px;
}

.anime__details__review .section-title{
	display: flex;
	justify-content: space-between;
}
.anime__details__widget ul li{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/**
	Movie watching
 */
.anime__details__episodes a.active {
	color: #000000;
	background: #ffffff;
}

.plyr {
	height: auto !important;
}

.anime__details__review a.icon_like, .anime__details__review a.icon_dislike {
	color: #ffffff;
}

.anime__details__review a.icon_like:hover, .anime__details__review a.icon_dislike:hover, .anime__details__review a.icon_like.active, .anime__details__review a.icon_dislike.active {
	color: #e53637;
}

/**
	header
 */
.search-switch{
	cursor: pointer;
}
a.search-switch:not([href]):hover{
	color: #ffffff;
}
.mobile-menu-account{
	display: none;
}
.account-and-search{
	display: flex;
	justify-content: flex-end;
	padding: 0;
}
.account-and-search .search-switch , .account-and-search .header-login {
	padding: 20px;
	margin: 0;
}
.account-and-search .account{
	margin: 0;
}
.account-and-search ul li ul.account-dropdown{
	right: 0;
	left: unset;
}
.header__menu ul li ul.genre-dropdown{
	width: 650px;
	display: flex;
	flex-wrap: wrap;
}

.header__menu ul li ul.genre-dropdown li{
	width: calc(20% - 0.25rem);
	text-align: center;
}
/**
	Home
 */
.sidebar-describe{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
.list-genre{
	overflow: auto;
	display: flex;
}
.list-genre::-webkit-scrollbar{
	display: none;
}

/**
	Search popup
 */
.search-popup-result{
	margin-top: 15px;
	width: 500px;
	height: 600px;
	max-height: 600px;
	overflow: auto;
}
.search-popup-result::-webkit-scrollbar{
	display: none;
}
.search-popup-result .item{
	display: flex;
	margin-bottom: 20px;
}
.search-popup-result .item .item-detail a{
	color: #ffffff;
}
.search-popup-result .item .item-detail p{
	color: #999;
}
/**
	category
 */
.filter-genre-dropdown{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
}
.filter-genre-dropdown li{
	cursor: pointer;
	color: #ffffff;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: 500;
}
.filter-genre-dropdown li > label, input{
	cursor: pointer;
}
@media only screen and (max-width: 767px){
	.search-popup-result{
		width: 100%;
		padding: 0 15px;
	}
}
@media only screen and (max-width: 991px){
/**
	Header
 */
	.account-and-search .search-switch, .account-and-search .header-login , .account-and-search .account{
		padding: 0 20px;
	}
	.account-and-search .header__menu.mobile-menu{
		display: block;
	}

	.account-and-search .header__menu ul li:hover .dropdown{
		top: 40px;
	}
	.mobile-menu-account{
		display: block;
	}
	.genre-dropdown li{
		border: none !important;
	}
}

